$grey-36: #363636;
$grey-1c: #1c1c1c;
$grey-7a: #7a7979;
$grey-b9: #b9b8b8;
$orange-fa: #fa8b4f;
$red-e8: #e80202;
$green-04: #04f808;
$blue-00b: #00b6cc;
$blue-005: #005a66;
$yellow-c6: #c6d960;
$white: #fff;

$transition: ease 0.2s;

$desktop: 1200px;
$desktop-m: 1024px;
$desktop-s: 900px;
$tablet: 768px;
$tablet-m: 600px;