@import "src/styles/variables";

.location {
  &__container {
    padding-top: 30px;
  }

  &__header {
    margin: 40px 0 30px;
    color: $white;
    font-size: 26px;
  }

  &__name {
    font-weight: 700;;
  }

  &__info {
    color: $white;
    font-size: 20px;

    &-block {
      display: flex;
      column-gap: 10px;
    }

    &-name {
      color: $grey-7a
    }
  }
}