@import 'src/styles/variables.scss';

.character-card {
  display: flex;
  background-color: $grey-36;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: $desktop) {
    flex-direction: column;
  }

  @media (max-width: $desktop-m) {
    flex-direction: row;
  }

  @media (max-width: $tablet-m) {
    flex-direction: column;
  }

  &__img-box {
    width: 250px;
    height: 250px;
    overflow: hidden;

    @media (max-width: $desktop) {
      width: auto;
      height: auto;
    }

    @media (max-width: $desktop-m) {
      width: 250px;
      height: 250px;
    }

    @media (max-width: $tablet-m) {
      width: auto;
      height: auto;
    }
  }

  &__status {
    display: flex;
    align-items: center;

    &-indicator {
      display: block;
      width: 10px;
      height: 10px;
      margin-right: 4px;
      border-radius: 50%;

      &--Alive {
        background-color: $green-04;
      }

      &--Dead {
        background-color: $red-e8;
      }

      &--unknown {
        background-color: $grey-7a;
      }
    }
  }

  &__info {
    margin: 8px 0;

    &-block {
      padding: 16px;
      color: $white;
    }

    &-name {
      margin: 4px 0;
      color: $grey-7a;
    }
  }

  &__name {
    max-width: 280px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: $desktop-m) {
      max-width: 400px;
    }

    @media (max-width: $tablet) {
      max-width: 250px;
    }

    @media (max-width: $tablet-m) {
      max-width: 300px;
    }
  }

  &__link {
    color: $white;
    cursor: pointer;
    transition: color $transition;

    &:hover {
      color: $orange-fa;
    }
  }
}